joblib
scipy
torch
transformers
pandas
lightgbm
vaderSentiment
schedule
requests
scikit-learn
torch
pytz
datetime
fastapi
uvicorn
tiktoken
protobuf
python-multipart
sentencepiece
yfinance
lxml_html_clean
newspaper3k
feedparser
trafilatura
beautifulsoup4
