fastapi
uvicorn
pandas
numpy
scikit-learn
lightgbm
vaderSentiment
apscheduler
requests
python-multipart
protobuf
sentencepiece
transformers
torch
tiktoken
joblib
scipy
pytz
yfinance
lxml_html_clean
newspaper3k
feedparser
trafilatura
beautifulsoup4
